.IndividualChatPage {
  display: flex;
  flex-direction: column;
}

.UserAccountInfoSection {
  padding: 30px;
  height: 100px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 15px lightgrey;
  background: #088ab1;
}
.UsersInfo {
  display: flex;
}
.UsersInfo {
  color: white;
}

.DisconnectBtn {
  height: 30px;
}

/********************************/
.MainSection {
  display: flex;
}

/**************************************/
.ChatSection {
  width: 85vw;
  margin-left: 15%;
  margin-right: 0;
}
.FriendInfo {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 2px 3px rgb(235, 234, 234);
}

/**********************************/

.MessageSection::-webkit-scrollbar {
  display: none;
}
/*********************************/
.MessageSection {
  width: 100%;
  height: 55vh;
  max-width: 100%;

  overflow-y: scroll;

  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}
.MessageElement {
  min-width: 20%;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.MessageBubble {
  max-width: 40vw;
  width: fit-content;
  height: fit-content;
  min-height: 30px;
  margin-top: 10px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  transition: all 1s;
  box-shadow: 0px 5px 7px rgba(211, 211, 211, 0.76);
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.MessageLeft {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.MessageRight {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*************Typing Animation******************/

@keyframes Typing {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/*********************************/
.TypingMessage {
  color: grey;
  margin-left: 40px;
  animation: Typing 1s infinite;
}

.UserName {
  color: grey;
  width: 10%;
}
.MessageDate {
  color: rgb(161, 159, 159);
  font-size: 0.8rem;
}

/*********************************/
.input-form {
  margin: 20px;
}

.MessageInput {
  height: 35px;
  width: 60%;
  border-radius: 7px;
  padding-left: 15px;
  border: thin solid #088ab1;
  outline: none;
}

/************************************/
.SideBar {
  padding-top: 10px;
  min-width: 250px;
  height: 88vh;
  width: 20vw;
  box-shadow: 5px 0px 5px lightgrey;
  background: rgb(216, 233, 241);
}
.SideBarLink {
  cursor: pointer;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: all 1s;
  font-size: 1rem;
}
.GroupeLink {
  padding-left: 20px;
  font-weight: bold;
}
.GroupeName {
  font-size: 0.8rem !important;
}
.GroupeSection::-webkit-scrollbar {
  display: none;
}
.GroupeSection {
  max-height: 250px;
  overflow: scroll;
}
.AddGroupeBtn:hover .AddGroupeImg {
  filter: opacity(0.6);
}
.AddGroupeImg {
  filter: opacity(0.2);
  transition: all 1s;
}

.SideBarLink:hover {
  background-color: #088ab1;
  color: #7308b1;
}

.UserImage {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 15px;
}
.ProfileImage {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 30px;
}

.OnlineUsersSection {
  overflow-y: scroll;
  max-height: 50vh;
}
.OnlineUsersSection::-webkit-scrollbar {
  display: none;
}

.EditProfileBtn {
  width: auto;
  height: fit-content;
  border: none;
  background: none;
  outline: none;
  align-self: center;
  margin: 5px;
  transition: all 0.4s;
  filter: invert(1);
}
.EditProfileBtn:hover {
  filter: invert(0);
}

.SideBarBtn {
  border: none;
  background: none;
  outline: none;
  transition: all 0.4s;
}
.SideBarBtn:hover {
  filter: invert(1);
}

.UsersCheckbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.UserModalCheckbox {
  margin: 10px;
}
.ModalInput {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: thin solid rgb(224, 216, 216);
  background: rgb(243, 239, 239);
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media only screen and (max-width: 600px) {
  .MessageSection {
    height: 65vh;
  }
  .DisconnectBtn {
    scale: 0.5;
  }
  .UserAccountInfoSection {
    padding: 3px;
  }
  .ProfileImage {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .UsersInfo h2 {
    font-size: 1rem;
  }
  .EditProfileBtn {
    margin: 5px;
  }

  .FriendInfo {
    margin: 0;
    padding: 0;
  }

  .ChatSection {
    width: 100vw;
    margin-left: -40px;
  }

  .MessageBubble {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    padding: 0 25px 0 20px;
    text-align: left;
  }
}
@media only screen and (max-width: 900px) and (min-width: 601px) {
  .ChatSection {
    width: 68vw;
    margin-right: 0;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 901px) {
  .ChatSection {
    width: 75vw;
    margin-right: 0;
    margin-left: auto;
  }
}
